
html body {
  margin:0;
  padding-top: 90px;
  font-family: sans-serif;
  color : #258dc8;
  background:#258dc8;

}

.custom-navbar{
  z-index: 2;
}

.form-box {
  position: relative; 
  width: 400px;
  padding: 40px;
  background: #fefefe;
  margin:auto;
  box-sizing: border-box;
  border-radius: 10px;
}


.form-box h2 , .table-box h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.form-box .user-box {
  position: relative;

}

.form-box .user-box input, .form-box .user-box textarea  {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 20px;
  color : #165375;
  border: none;
  border-bottom: 1px solid #03e9f4;
  outline: none;
  background: transparent;
}

.form-box form .button {
  position: relative;
  padding: 10px 20px;
   font-size: 16px;
    color: #fefefe;
   background-color: #258dc8; 
  text-transform: uppercase; 
  margin-top: 20px;
  letter-spacing: 2px;
  text-align:center;
  border-radius:2px;
  border:0;
  cursor: pointer;
  
}


.table-box {
  position: relative; 
  width: 600px;
  padding: 20px;
  background: #fefefe;
  margin:auto;
  box-sizing: border-box;
  border-radius: 10px;
}



.table-box table, .form-box table{
  width:100%;
  text-align: center;
}


