<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
  <title>Add Employee</title>
</head>
<body>
<div>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
    <a class="navbar-brand" href="#"><strong>Employee_DB</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/add">Add employee</a>
        <a class="nav-item nav-link" href="/redirectpage">Update/Delete Employee Data</a>
        <a class="nav-item nav-link " href="/search">Search employee</a>
      </div>
    </div>
  </nav>

  <div class="form-box">
    <h2>Add Employee</h2>
    <form method='POST', action="/add">
      <div class="user-box">
        <input type="number" name="empid" required="" placeholder="ID" >
      </div>
      <div class="user-box">
        <input type="text" name="name" required="" placeholder="Name" >
      </div>
      <div class="user-box">
        <textarea placeholder="Address" rows="1" name = "address"></textarea>
      </div>
      <div class="user-box">
        <input placeholder="DOB" type="text" onfocus="(this.type='date')" id="date" name = "dob" />

      </div>
      <div class="user-box">
        <input type="number" name="mobile" required="" placeholder="Mobile No." >
      </div>
      <input type=submit class='button' value='ADD'>
    </form>
  </div>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

