<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
  <title>Add Employee</title>

  <script>
function disableOptions(x,y) {
  x.disabled = true;
  y.disabled = true;
}
</script>
</head>
<body>  
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
    <a class="navbar-brand" href="#"><strong>Employee_DB</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="add.html">Add employee</a>
        <a class="nav-item nav-link" href="#">Update Employee Data</a>
        <a class="nav-item nav-link" href="delete.html">Delete Employee Data</a>
        <a class="nav-item nav-link active" href="search.html">Search employee</a>
      </div>
    </div>
  </nav>

  <div class="form-box">
    <h2>Search Employee</h2>
    <form method='POST' action='#'>
      <fieldset required="true">
        <div class="user-box">
          <input type="number" name="" placeholder="ID" id="id1" onfocus='disableOptions(document.getElementById("initial"),document.getElementById("age"))'>
        </div>
        <label> OR </label>
        <div class="user-box">
          <input type="text" name=""  placeholder="Initials" id='initial' onfocus='disableOptions(document.getElementById("id1"),document.getElementById("age"))'>
        </div>
        <label> OR </label>
        <div class="user-box">
          <input type="number" name=""  placeholder="Age" id='age' onfocus='disableOptions(document.getElementById("initial"),document.getElementById("id1"))'>
        </div>
      
      <input type=submit class='button' value='Search'>
      </fieldset>
    </form>
  </div>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

